* {
    box-sizing: border-box;
}

body{
  font-family: sans-serif;
  height: 100%;
}

.top_bar{ 
  position: fixed;
  display: flex; 
  justify-content: space-between; 
  max-height: 5rem;
  height: 60px; 
  width: 100%;
  font-weight: 400;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.top_bar_left{
  display: flex; 
  align-items: center;
  margin-left: 20px;
}

.top_bar_right{
  display: flex; 
  align-items: center;
  margin-right: 35px;
}

.Name{
  width: 72px;
  height: 16px;
  margin: 0 0 3px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #252a31;
}

.Company{
  width: 67px;
  height: 11px;
  margin: 2px 0 0 5px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #252a31;
}

.Cloud{
  color: #ea168b;;
  font-weight: bold;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
}

.Access{
  color: #3e3e3e;
  font-weight: bold;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
}

.top_bar_right_text{
    align-items: center;
    margin-left: 2px;
    margin-right: 8px;
}

.image{
  margin: 5px;
}

.side_bar_full{
  width: 17.18%;
  height: 100%;
  position: fixed; 
  margin-top: 65px;
}

.side_bar_top{
  padding: 25px;
}

.headings{
  color: #ea168b;;
  font-weight: 550;
}

.side_desc{
  margin:10px 0 40px 0;
  max-width: 220px;
  color: #b8b8b8;
  
}

.Line-11 {
  max-width: 230px;
  height: 1px;
  margin: 10px 0px 10px 0px;
  border: solid 1px #f2f4f8;
}

.your_requests {
  width: 100%;
  font-weight: 600; 
  color: #cbcbcb; 
}

.your_requests tr td span{
  border:1px solid grey; 
  color: white; 
  transition: 0.1s;
  color: #cbcbcb;
}

.your_requests td{
  color: #cbcbcb;
  padding-bottom: 20px; 
}

.your_requests th{ 
  color: #cbcbcb; 
  text-align: left; 
}

.your_requests tr:hover th{
  color: black; 
  background-color: white; 
  transition: 0.1s; 
}

.your_requests tr:hover td span{
  background-color: #ea168b;; 
  color: white; 
  transition: 0.1s; 
  border:1px solid #ea168b;;
}

.req_type{
  display: flex;
  float: left;
  align-items: center; 
  width: 30px;
  height: 20px;
}

.req_num{
  display: flex;
  border-radius: 10px; 
  float: right;
  width: 30px; 
  height: 20px; 
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: lightgrey;
  font-color: white;
}

.side_bottom{
  display: flex;
  justify-content: space-between;
  height: 50px; 
  width: 100%;
  font-weight: 600;
}

.side_bottom img{
  height: 25px; 
  width: 25px;
}

.side_bottom_content{
  display: flex; 
  align-items: center; 
  margin-left: 30px;
}

.side_bottom p{
  margin-left: 20px; 
  display: flex; 
  justify-content: space-between;
  color: #46475c;
  padding-top: 3px;
}

.side_bottom:hover{
  background-color: #ea168b;; 
  color: white;
  transition: 0.1s;
}

.side_bottom:hover p{
  color: white;
  transition: 0.1s;
}

.container{
  display: block;
  position: fixed; 
  float: right;
  width: 83%; 
  margin-left:17%; 
  height: 100%; 
  margin-top: 65px; 
  background-color: #f2f4f8; 
}

.container-full{
  display: block;
  width: auto;
  height: auto;
  padding: 40px; 
}

.recommended{
  display: flex;  
  height:100px; 
  width: 100%; 
  margin-top:20px;
  overflow: auto;}

.recommended-group{
  display: flex;
  height: 80px; 
  border-radius: 5px; 
  background-color: white;
  align-items: center;
  margin-right: 15px;
  width: 300px;
}

.group-box{
  width: 100%; 
  color: #4a4a4a; 
}

.group-box span{
  display:block; 
  width: 200px; 
  overflow:hidden; 
}

.recommended-group img{
  margin-left:10px;
  margin-right:10px;
  height : 30px;
  width: 30px;
}

.recommended::-webkit-scrollbar {
    display: none;
}

.ovrflw{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  display: inline-flex;
  white-space: nowrap;
}

.table-container-main{ 
  display: block; 
  overflow: auto;
  height: calc(100vh - 320px);
  background-color: white; 
  width: 100%; 
  border-radius: 5px;  
}

.table-container-top{
  display: flex; 
  justify-content: space-between;
  height: 65px; 
  width: 100%;
  margin-top: 20px;
}

.table-name{
  display: flex; 
  align-items: center; 
  margin-left: 40px;
}
.table-search{
  display: flex; 
  align-items: center;
  margin-right: 40px; 
  position: relative; 
}

.table-search input{
  padding: 8px;
  width: 200px; 
  padding-left: 1.2rem;
  border-radius: 3px; 
  border: solid 1px #dee3e6;
  background-color: #fff;
}

.table-search img{
  height: 35x; 
  width: 35px;
}

.bx{
  position: absolute;
  left: 5px;
  opacity: .5; 
}

.table-search button{
  padding: 8px 15px; 
  border-radius: 5px; 
  font-weight: 500; 
  margin-left: 5px;
  border: none; 
  border: 1px solid #ea168b;; 
  transition: 0.3s;
  background-color:white;
}

.table-search button:hover{
  color:white;
  background-color:#ea168b;;
  border: 1px solid #ea168b;; 
  transition: 0.3s;
}


input:focus,select:focus,textarea:focus,button:focus{
  outline: none;
}

.group-table{
  display: flex;
  width: 100%; 
  background-color: white; 
  height:auto;  
  justify-content: space-between; 
  align-items: center;
  overflow: auto;
}

.chkbx{
  width: 14px;  
  height: 14px; 
  border: solid 1px #c3c7ca; 
  background-color: #fff;
}

.group-details{
  border-collapse: collapse; 
  width: 100%; 
  font-size: 0.8rem; 
  margin-right: 35px; 
  margin-left: 35px; 
  overflow: scroll; 
}

.group-details th {
  font-weight: 600;
  text-align: left;
  background-color: #f8fafb; 
  padding: 15px;
  color: black; 
  border-bottom: 
  1px solid #dfe3e7;  
  border-top: 1px solid #dfe3e7; 
}

.group-details td{
  padding: 10px 15px; 
  border-bottom: 1px solid #dfe3e7;
}

.group-details img{
  height: 20px; 
  width: 20px; 
  top: 4px;
  position: relative;
}

.group-details button{
  padding: 7px 20px 7px 20px; 
  border-radius: 5px; 
  font-weight: 500; 
  margin-left: 5px;
  border: none; 
  border: 1px solid #ea168b;
  transition: 0.3s;
  color: #ea168b;
  background-color:white;
}

.group-details button:hover{
  color: white;
  background-color:#ea168b;;
  border: 1px solid #ea168b;; 
  transition: 0.3s;
}

.footer{
  width: 100%; 
  display: inline-flex; 
  justify-content: flex-end;}

.footer span{ 
  display:inline-flex; 
  align-items: center; 
  padding: 20px 40px 40px 40px; 
  font-size: 0.75rem; 
  color: grey; }


.footer input{ 
  width: 1.5rem; 
  height: 1rem;
  margin: 0px 5px;
}

@media only screen and (max-width:900px) {
  .side_bar_full{
    display: none;
  }
}